body, html {
    height: 100%;
  }

/* typography */
/* links */
.bg {
    height: 90vh; 
    width: 100vw;
    border: 1px salmon solid;
}
#bold{
    height: 100%; 
    width: 100%;
}
/* Nav */
.contact-links-container{
    height: 10vh;
    width: 100vw; 
    border: 1px black solid;
}
.nav{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.nav > li {
    list-style: none;
    margin: 10px; 
}